<div class="container">
  <div class="profile">
    <h1> <%= @business.name %></h1>
    <p><%= @business.address %></p>
    <p><%= @business.phone_number %></p>
    <p><%= @business.email %></p>

    <p><%= link_to "Edit Business Profile", edit_business_path(@business) %></p>
  </div>

  <div class="total_views">
    <h3>Job posting views</h3>
      <% total_views = [] %>
      <% @postings.each do |posting| %>
        <% total_views << posting.views %>
      <% end %>
      <%= total_views.reduce(:+) %> views
  </div>

  <div class="current_postings">
    <h3> <%= @postings.count %> Posting(s)</h3>
    <ul>
      <% @postings.newest_first.first(5).each do |posting| %>
        <li><%= link_to posting.title, posting_path(posting) %> - <%= posting.views %> views - <%= posting.applications.count %> applications</li>
      <% end %>
    </ul>
  </div>

  <div class="applications">
    <h3><%= @business.applications.count %> application(s)</h3>
    <ul>
      <% @business.applications.newest_first.first(5).each do |application|  %>
            <%= link_to application_path(application) do %>
              <li><%= application.video.title %> - <%= application.title %></li>
            <% end %>
      <% end %>
    </ul>
  </div>

  <div>
    <canvas id="myChart" width="100" height="100"></canvas>
    <%= render "shared/chart" %>
  </div>




  <div>
    <%= link_to "Index", businesses_path %>
  </div>
</div>




