<h1><%= @application.user.first_name %> <%= @application.user.last_name %>'s applications</h1>
<p><%= @application.posting.title %></p>
<p><%= @application.posting.business.name %></p>
<p>Video ID<%= @application.video_id %></p>

<%= link_to "Edit this application", edit_application_path(@application) %>
<%#= link_to "Delete this application", application_path(@application), method: :delete %>
<%= link_to "All my applications", applications_path %>
