<div class="fixed-navbar fixed-sidebar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center no-padding">
        <div class="box box-blue">
          <p>You</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="row">
          <div class="box flex-default">
            <div class="box-content">
              <%= image_tag (current_user.photo || "https://s3.amazonaws.com/whisperinvest-images/default.png") %>
            </div>
            <div class="box-content">
              <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
              <p>
                Professions: <% Profession.all.each do |profession| %>
                <%= profession.name %>
                <% end %>
                </p>
              <p><%= current_user.email %></p>
              <br>
              <p><%= current_user.phone_number %></p>
              <br>
              <p>See your resume</p>
              <hr>
              <p>You joined us on <%= current_user.created_at %></p>
              <p>You have uploaded <%= current_user.videos.count %> <% if current_user.videos.count == 1 %> video <% else %> videos <% end %>, last upload on <%= current_user.videos.last.created_at %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 no-padding">
            <div class="box box-left">
              <div class="box-content box-profile-small">
                <p>Edit Profile</p>
                <hr>
                <p>Manage your CV</p>
                <hr>
                <p>Placeholder</p>
                <hr>
                <p>Placeholder</p>
                <hr>
                <p>Placeholder</p>
                <hr>
                <p>Placeholder</p>
                <hr>
                <p>Placeholder</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 no-padding">
            <div class="box box-right">
              <div class="box-content box-profile-small">
                <div class="row box-row-padded">
                <div class="box-title-skills">
                  <h3>
                    Skills
                  </h3>
                </div>
                <div class="box-add-skill">
                  <%= image_tag 'icons/core/plus.svg'%>
                </div>
                </div>
                  <div class="row box-row-padded text-center">
                    <div class="col-xs-6">
                      <div class="skill">
                        <span>
                          <% Skill.all.each do |skill| %>
                            <%= skill.name %>
                          <% end %>
                        </span>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="skill">
                        <span>
                          Skill 2
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row box-row-padded text-center">
                    <div class="col-xs-6">
                      <div class="skill">
                        <span>
                          Skill 3
                        </span>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="skill">
                        <span>
                          Skill 4
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row box-row-padded text-center">
                    <div class="col-xs-6">
                      <div class="skill">
                        <span>
                          Skill 5
                        </span>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="skill">
                        <span>
                          Skill 6
                        </span>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 no-padding">
        <div class="box" style="height: 710px; ">
          <div class="box-content">
            <div class="row">
              <h3>Your Videos</h3>
            </div>
            <div class="row box-row-vert-padded">
            <% current_user.videos.first(4).each do |video| %>
              <div class="col-xs-8">
              <%= link_to video_path(video) do %>
                <%= image_tag "http://"+video.image_url, class: "img-thumbnail" %>
              </div>
              <div class="col-xs-4">
                <h4>Bleh</h4>
                <p>Meh</p>
              </div>
              <% end %>
            <% end %>
            </div>

            </div>
            <div class="row">
              <%= button_to 'View All Videos', videos_path, method: :get, class: "btn-span-width" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




