<div class="fixed-navbar">
  <div class="container">
    <div class="profile-container">
      <div class="row">

        <div class="col-md-8 col-xs-12 not-padded-right">

          <div class="col-xs-12 profile-info">

          <%= link_to "#", { class: "add-skill-btn", 'data-toggle' => 'modal', 'data-target' => '#updateModal'} do %>
              <i class="fa fa-pencil"></i>
            <% end %>

            <div class="col-xs-12 profile-content">

              <%= image_tag (current_user.photo || "https://s3.amazonaws.com/whisperinvest-images/default.png"), class: "avatar-large" %>

              <div class="col-xs-12 flex-row">

                <div class="col-xs-6 profile-content-left">
                 <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
                  <p>Profession: <%= current_user.profession %></p>
                  <p>Email: <%= current_user.email %></p>
                  <p>Phone number: <%= current_user.phone_number %></p>
                </div>

                <div class="col-xs-6 profile-content-right">
                  <% if current_user.document.present? %>
                    <h4>Update your resume</h4>
                    <%= simple_form_for (current_user) do |f| %>
                      <%= f.label  :document do %>
                        <span class="document_upload_label"><i class="fa fa-upload"></i></span>
                      <% end %>
                      <%= f.input :document, label:false, as: :attachinary, input_html: {class: "document_upload_input"} %>
                      <%= f.submit "Update", class: "btn btn-upload" %>
                      <%= link_to "View", "http://res.cloudinary.com/printul/image/upload/c_fill,h_200,w_200/#{current_user.document.path}", class: "btn btn-upload" %>
                    <% end %>
                  <% else %>
                    <h4>Add your resume</h4>
                    <%= simple_form_for (current_user) do |f| %>
                      <%= f.label :document do %>
                        <span class="document_upload_label"><i class="fa fa-upload"></i></span>
                      <% end %>
                      <%= f.input :document, label:false, as: :attachinary, input_html: {class: "document_upload_input"} %>
                      <%= f.submit "Save", class: "btn btn-upload" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <hr>
              <h4 class="hidden-sm hidden-xs">My skills</h4>
              <hr>
              <ul class="list-inline hidden-sm hidden-xs profile-skills">
              <div class="col-xs-4">
              <li class="skill-card"><%= current_user.skill1 %></li>
              </div>
              <div class="col-xs-4">
              <li class="skill-card"><%= current_user.skill2 %></li>
              </div>
              <div class="col-xs-4">
              <li class="skill-card"><%= current_user.skill3 %></li>
              </div>
              <div class="col-xs-4">
              <li class="skill-card"><%= current_user.skill4 %></li>
              </div>
              </ul>

              <!-- <div class="profile-skills">
                <ul>
                <div class="col-xs-3">
                <li>
                <div class="skill-card">
                  <%= current_user.skill1 %>
                </div>
                </li>
                </div>
                <div class="col-xs-3">
                <li>
                <div class="skill-card">
                  <%= current_user.skill2 %>
                </div>
                </li>
                </div>

                <div class="col-xs-3">
                <li>
                <div class="skill-card">
                  <%= current_user.skill3 %>
                </div>
                </li>
                </div>

                <div class="col-xs-3">
                <li>
                <div class="skill-card">
                  <%= current_user.skill4 %>
                </div>
                </li>
                </div>
                </ul>
              </div> -->

            </div>
          </div>
        </div>
        <div class="col-md-4 not-padded-left">
          <div class="col-xs-12 profile-videos">
            <div class="title-container">
              <h4>My videos</h4>
            </div>
            <div class="videos-container">
              <% current_user.videos.each do |video| %>
                <%= link_to external_path(video.url) do %>
                  <%= image_tag "http://"+video.image_url, class: "img-thumbnail" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel"><strong>Edit my profile</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= simple_form_for @user do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :phone_number %>
          <%= f.input :email %>
          <%= f.input :profession %>
          <%= f.input :skill1 %>
          <%= f.input :skill2 %>
          <%= f.input :skill3 %>
          <%= f.input :skill4 %>
          <%= f.input :is_searchable?, label: "Make your profile searchable?", input_html: { class: 'my-input-class'}, label_html: { class: 'my-label-class'} %>
          <!-- <p>Profession</p> -->
          <%#= f.simple_fields_for :professions do |profession_form| %>
            <%#= profession_form.input :name %>
          <%# end %>
          <%= f.submit %>
        <% end %>
      </div>
      </div>
    </div>
  </div>

  <!-- MODAL FOR DOCUMENT -->

  <!-- <div class="modal fade" id="docModal" tabindex="-1" role="dialog" aria-labelledby="docModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="docModalLabel"><strong>My resume</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
      <%# if current_user.document %>
       <%#= cl_image_tag current_user.document.path, :width=>1000, :height=>1000, :crop=>"fill" %>
       <%# else %>
        Please upload your resume!
       <%# end %>
      </div>
      </div>
    </div>
  </div>
 -->
