<div class="container">
  <div class="row">
      <h1 class="text-center">All the postings</h1>
    <div class="col-sm-12 col-sm-offset-2">
      <table class="Postings listing table-hover table-condensed">
            <tr class="header text-center">
              <th>Title</th>
              <th>Description</th>
              <th>Active?</th>
              <th>Views</th>
              <th>Created at</th>
            </tr>
          <% @postings.each do |posting| %>
          <tr data-link="<%= posting_path(posting) %>">
            <td><%= posting.title %></td>
            <td><%= posting.description %></td>
            <td><%= posting.is_active? %></td>
            <td><%= posting.views %></td>
            <td><%= l(posting.created_at, format: :long) %></td>
          </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>

