<div class="fixed-navbar fixed-sidebar">
   <div id="page-content-wrapper">
    <div class="container">
      <div class="row">
        <% @postings.each do |posting| %>
            <div class="col-xs-12 col-md-6">
                <%= link_to posting_path(posting) do %>
                  <div class="card">
                    <div class="card-category"><%= posting.business.name %></div>
                    <div class="card-description">
                      <h2><%= posting.title %></h2>
                      <p><%= truncate(posting.description, length: 75) %></p>
                    </div>
                    <%= image_tag "#{posting.business.logo}", class: "card-user avatar" %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>







