<div class="fixed-navbar">
   <div id="page-content-wrapper">
    <div class="container">
      <div class="row">
        <% @postings.each do |posting| %>
            <div class="col-xs-12 col-md-4">
                <%= link_to posting_path(posting) do %>
                  <div class="card-job">
                    <div class="card-category-job"><%= posting.business.name %></div>
                    <div class="card-description-job">
                      <h2><%= posting.title %></h2>
                      <p><%= truncate(posting.description, length: 50) %></p>
                    </div>
                    <%= image_tag "#{posting.business.logo}", class: "card-user-job avatar" %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>







