<div class="fixed-navbar">
  <div class="post-wrapper">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="text-center">
            <ziggeoplayer ziggeo-video='<%= @posting.vid_token %>'
            ziggeo-stretch>
            </ziggeoplayer>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <h3 class="text-center" id="post-title"><%= @posting.title %></h3>
          <%= image_tag "#{@posting.business.logo}", class:"pull-left avatar", id: "logo" %>
          <h5 id="business-name"><%= @posting.business.name %></h5>
          <h5><%= @posting.business.address %></h5>
          <h5><%= @posting.business.city %></h5>
          <p><%= @posting.description %></p>
          <p><%= link_to "Apply Now", new_posting_application_path(@posting), class:'btn btn-warning pull-right', id: "apply_cta" %></p>
        </div>
      </div>
      <!-- <p><%#= link_to "Back", postings_path, class: "btn btn-primary" %></p> -->
  </div>
</div>
