
<div class="container flexbox text-center">
<div class="card" id = "video">
<p id = "tag"> Your Videos </p>
</div>
</div>
<div class="container-fluid">
  <div class="row">
    <h1>Your Videos</h1>
  <% @videos.each do |video| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
       <%= image_tag "video.jpg", class:"avatar-square" %>
      <div class="caption">
        <p><%= link_to video.title, video_path(video) %></p>
        <p><%= video.description %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>


<table class="Videos">
    <tr class="header">
      <th>Title</th>
      <th>image</th>
      <th>URL</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
    <% @videos.each do |video| %>
    <tr>
      <td><%= video.title %></td>
      <td><%= video.image_url %></td>
      <td><%= video.url %></td>
      <td><%= video.created_at %></td>
      <td class="actions">
        <%= link_to("Show", external_path(video.url)) %>
        <%= link_to("Delete", delete_vid_path(video.url), method: :delete, data: {confirm: "Are you sure you want to delete #{video.title}?" }) %>
      </td>
    </tr>
    <% end %>
  </table>
<p><%= link_to "home", root_path %></p>

