<h1>Your videos</h1>

<p><%= link_to("New video", new_video_path) %></p>

<table class="Videos">
    <tr class="header">
      <th>Title</th>
      <th>Description</th>
      <th>URL</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
    <% @videos.each do |video| %>
    <tr>
      <td><%= video.title %></td>
      <td><%= video.description %></td>
      <td><%= video.url %></td>
      <td><%= video.created_at %></td>
      <td class="actions">
        <%= link_to("Show", external_path(video.url)) %>
        <%= link_to("Delete", video_path(video), method: :delete ) %>
      </td>
    </tr>
    <% end %>
  </table>

<p><%= link_to "home", root_path %></p>
