<div class="fixed-navbar">
<% if @videos.count == 0 %>
  <h1 class="text-center">Click me to record your first video!</h1>
  <div class="hidden-xs">
  <%= render 'bee' %>
  </div>
  <div class="hidden-sm hidden-md hidden-lg camera-icon">
  <%= link_to new_video_path do %>
    <i class="fa fa-camera-retro fa-5x"></i>
    <% end %>
  </div>
<% end %>

  <div class="container">
    <div class="row">
      <% @videos.each do |video| %>
         <div class="col-xs-12 col-sm-4">
           <%= link_to external_path(video.url), class: 'box-video-hover' do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= 'http://' + video.image_url %>);">
              <div class="card-description">
                <h2><%= truncate(video.title, length: 20) %></h2>
                <p><%= l(video.created_at, format: :short) %></p>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>

<%= button_to 'Create A Video', new_video_path, method: :get, class: 'btn-fit', style: 'float: left;' %>
