<div class="fixed-navbar fixed-sidebar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-title-bar">
          <%= button_to 'Create A Video', new_video_path, method: :get, class: 'btn-fit', style: 'float: left;' %>
          <select name="" id="video-sort">
            <option value="">Date added (newest)</option>
          </select>
        </div>
      </div>
    </div>
    <% @videos.each do |video| %>
      <div class="row">
        <div class="col-xs-12">
          <%= link_to external_path(video.url), class: 'box-video-hover' do %>
            <div class="box box-video">
              <%= image_tag "http://"+video.image_url %>
              <%= video.title %>
              <%= l(video.created_at, format: :short) %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
