<h1>Your video</h1>
<p><%= @video.title %></p>
<p><%= @video.url %></p>
<p><%= @video.description %></p>

<!-- hides links unless video owner -->
<% if @video.videoable == current_user %>
<p><%= link_to "Go to all videos", videos_path %></p>

<p><%= link_to "Delete video", delete_vid_path(@video.url), method: :delete %></p>
<% end %>

<ziggeoplayer ziggeo-video='<%= @video.url %>'
    ziggeo-width=640
    ziggeo-height=480>
</ziggeoplayer>


<!-- https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=example -->
<% url = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=" + "www.ft.com" %>
<%= link_to url, download: 'download' do  %>
  <%= image_tag url%>
<% end %>

