<div class="fixed-navbar fixed-sidebar">
  <div class="container">
    <div class="content">
      <div id="video-player">
        <ziggeoplayer ziggeo-video='<%= @video.url %>'
            ziggeo-width=640
            ziggeo-height=480>
        </ziggeoplayer>
      </div>
      <div class="share">
         <div >
          <%= image_tag "url.svg", id: "url-icon" %>
          <p class="hidden"> <%= @url.short_url %></p>
        </div>
        <div id="share-icon">
          <%= image_tag "share.svg" %>
        </div>
        <div>
          <% url = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=" + "https://beyondtheresume.io/videos/" + @video.url%>
          <%= link_to url, download: 'download' do  %>
            <%= image_tag url, id: "qr-code" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




  <!-- hides links unless video owner -->


          <% if @video.videoable == current_user %>
          <p><%= link_to "Go to all videos", videos_path %></p>

          <p><%= link_to "Delete video", delete_vid_path(@video.url), method: :delete, data: {confirm: "Are you sure you want to delete #{@video.title}?" } %></p>
          <% end %>
  <!-- https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=example -->

</div>

