<div id="banner">
  <div>
    <video autoplay loop id="video_bg" class="hidden-xs">
      <source src="http://res.cloudinary.com/printul/video/upload/v1497606890/video_background_sjoijb.mp4">
    </video>
  <div class="text-center" id="banner_overlay">
    <h1 id="title">Enhance your job application through video!</h1><br>
    <p id="tagline"> <strong>Stand out</strong> by showcasing your personality or skills.</p>
    <br><br>
    <%= link_to "Try it now", new_video_path, class: "btn btn-warning btn-lg", id: "btn-try"%>
  </div>
  <div class="button-container-down">
    <a href="#how-to" id="button-down"><%= image_tag "down-arrow.png"%></a>
  </div>

  </div>
</div>

<div class="wrapper-grey padded" id="how-to">
  <div class="container">
    <h3 class="text-center"> <span class="how-to-emphasis">Record or upload</span> your video. Sign up to use. </h3>
    <h3 class="text-center">Add to your application and <span class="how-to-emphasis">get noticed</span>!</h3> <br>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%#= link_to "#" do%>
          <div class="card-white">
            <h3 class="text-center">Candidates</h3>
            <p>
              First impressions count, but only when you have the chance to make them. Your words, your personality, your choice. Change the way you apply.
            </p>
          </div>
        <%# end %>
      </div>
      <div class="col-xs-12 col-md-6">
        <%#= link_to "#" do%>
          <div class="card-white">
            <h3 class="text-center">Employers</h3>
            <p>
              Your culture matters. It's at the core of your company, it's what keeps it ticking. Let candidates see it and attract those that appreciate it.
            </p>
          </div>
        <%# end %>
      </div>
    </div>
  </div>
</div>
<div class="row width-100">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="home_cards">
      <!-- <img src="images/laptop.png" alt="picture description" width="100"> -->
      <%= image_tag "paper-plane.png", id: "descriptor" %>
      <h2>Easy</h2>
      <p> Two simple options<br><strong>Record / Upload</strong></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="home_cards">
      <%= image_tag "laptop.png", id: "descriptor" %>
      <h2>Simple</h2>
      <p>Choose the video and <br> <strong>share it</strong></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="home_cards">
      <%= image_tag "binoculars.png", id: "descriptor" %>
      <h2>Be seen</h2>
      <p>Create your profile video<br><strong>be found </strong>by employers</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="home_cards">
      <%= image_tag "horse.png", id: "descriptor" %>
      <h2>Reliable</h2>
      <p>Privacy matters.<br><strong>You're in control</strong></p>
    </div>
  </div>
</div>

<div class="wrapper-white padded hidden-xs hidden-sm">
  <div class="container">
    <h3 class="text-center">Feeling creative? Showcase what you're good at and use it to apply!</h3><br><br>
    <div class="row justify-content">

      <div class="col-xs-12 col-sm-6 col-md-4 inspiration text-center">
        <!-- Button trigger modal -->
        <div data-toggle="modal" data-target="#mountain">
          <%= cl_image_tag("mountain_climber_mrtx5x.jpg", :width=>200, :height=>150, :radius=>5, :resource_type=>"video") %>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="mountain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body inspirations-modal">
                <%= cl_video_tag("mountain_climber_mrtx5x", :width => 570, :height => 500, :crop => :fill, :preload => "none", :autoplay => true,  :loop => true, :poster => true) %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 inspiration text-center">
        <!-- Button trigger modal -->
        <div data-toggle="modal" data-target="#surfer">
          <%= cl_image_tag("surfer_q4alst.jpg", :width=>200, :height=>150, :radius=>5, :resource_type=>"video") %>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="surfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body inspirations-modal">
                <%= cl_video_tag("surfer_q4alst", :width => 570, :height => 500, :preload => "none", :crop => :fill, :autoplay => true, :loop => true, :poster => true) %>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="col-xs-12 col-sm-6 col-md-4 inspiration text-center">
        <!-- Button trigger modal -->
        <div data-toggle="modal" data-target="#skier">
          <%= cl_image_tag("skier_tjlx3u.jpg", :width=>200, :height=>150, :radius=>5, :resource_type=>"video") %>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="skier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body inspirations-modal">
                <%= cl_video_tag("skier_tjlx3u", :width => 570, :height => 500, :crop => :fill, :preload => "none", :autoplay => true,  :loop => true, :poster => true) %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="cta text-center padded">
  <h3>Being memorable with video, made easy</h3><br>
  <%= link_to "Sign up", new_user_registration_path, class:"btn btn-warning btn-lg" %>
</div>
