<!DOCTYPE html>
<html>
  <head>
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag "//assets-cdn.ziggeo.com/v1-stable/ziggeo.css" %>
    <%= javascript_include_tag "//assets-cdn.ziggeo.com/v1-stable/ziggeo.js" %>
    <%= javascript_include_tag "ziggeo_scripts" %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
