<!-- DON'T LOOK AT THE CODING PRACTICES DONE IN THIS FILE, IT"S HORRIFIC I KNOW
 -->
<!DOCTYPE html>
<html>
<head>
  <style>
    .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #E67E22;
    border-bottom: 16px solid #E67E22;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 3s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
  </style>

  <title>Be:yond</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-r26/ziggeo.css" />

    <script src="//assets-cdn.ziggeo.com/v1-r26/ziggeo.js"></script>
    <script>ZiggeoApi.token = "r17f8d61d50e0795659099b07b0fab0e";
    ZiggeoApi.Config.webrtc = true;</script>
    <script>
        ZiggeoApi.Events.on("system_ready", function() {
        var element = document.getElementById('ziggeo');
        var recorder = ZiggeoApi.V2.Recorder.findByElement(element);
        var ziggeo_div = document.getElementById('box-upload-record');
        var messages_div = document.getElementById('messages-div');
        var video_messages = document.getElementById('video-messages');
        var upload_done = false;
        var processing_done = false;
        var flavour_text = document.getElementById('flavour-text');
        var record_btn = document.getElementById('btn-record');
        var upload_btn = document.getElementById('btn-upload');
        var share_btn = document.getElementById('btn-user-save');
        record_btn.addEventListener("click", startRecord);
        upload_btn.addEventListener("click", startUpload);
        share_btn.addEventListener("click", showVideoPage);

        function startRecord() {
          ziggeo_div.hidden = false;
          var btn_ziggeo = document.getElementsByClassName('ba-videorecorder-theme-elevate-chooser-primary-button');
          btn_ziggeo[0].click();
          record_btn.hidden = true;
          upload_btn.hidden = true;
        };

        function startUpload() {
          var btn_ziggeo = document.getElementsByClassName('ba-videorecorder-theme-elevate-chooser-file');
          btn_ziggeo[2].click();
        };

        function showVideoPage() {
          window.location.href = recorder.get('video');
        };

        function showFlavourText() {
          // var text = [
          //             "1. Get your shortened URL to use freely, to add to an email or to your resume",
          //             "2. Share your video on your social media",
          //             "3. Get your QR code and embed it into your resume for offline access"
          //            ]
          // var text_counter = 0;
          var text = ["Adding Hidden Agendas",
                      "Adjusting Bell Curves",
                      "Aesthesizing Industrial Areas",
                      "Aligning Covariance Matrices",
                      "Applying Feng Shui Shaders",
                      "Applying Theatre Soda Layer",
                      "Asserting Packed Exemplars",
                      "Attempting to Lock Back-Buffer",
                      "Binding Sapling Root System",
                      "Breeding Fauna",
                      "Building Data Trees",
                      "Bureacritizing Bureaucracies",
                      "Calculating Inverse Probability Matrices",
                      "Calculating Llama Expectoration Trajectory",
                      "Calibrating Blue Skies",
                      "Charging Ozone Layer",
                      "Coalescing Cloud Formations",
                      "Cohorting Exemplars",
                      "Collecting Meteor Particles",
                      "Compounding Inert Tessellations",
                      "Compressing Fish Files",
                      "Computing Optimal Bin Packing",
                      "Concatenating Sub-Contractors",
                      "Containing Existential Buffer",
                      "Debarking Ark Ramp",
                      "Debunching Unionized Commercial Services",
                      "Deciding What Message to Display Next",
                      "Decomposing Singular Values",
                      "Decrementing Tectonic Plates",
                      "Deleting Ferry Routes",
                      "Depixelating Inner Mountain Surface Back Faces",
                      "Depositing Slush Funds",
                      "Destabilizing Economic Indicators",
                      "Determining Width of Blast Fronts",
                      "Deunionizing Bulldozers",
                      "Dicing Models",
                      "Diluting Livestock Nutrition Variables",
                      "Downloading Satellite Terrain Data",
                      "Exposing Flash Variables to Streak System",
                      "Extracting Resources",
                      "Factoring Pay Scale",
                      "Fixing Election Outcome Matrix",
                      "Flood-Filling Ground Water",
                      "Flushing Pipe Network",
                      "Gathering Particle Sources",
                      "Generating Jobs",
                      "Gesticulating Mimes",
                      "Graphing Whale Migration",
                      "Hiding Willio Webnet Mask",
                      "Implementing Impeachment Routine",
                      "Increasing Accuracy of RCI Simulators",
                      "Increasing Magmafacation",
                      "Initializing My Sim Tracking Mechanism",
                      "Initializing Rhinoceros Breeding Timetable",
                      "Initializing Robotic Click-Path AI",
                      "Inserting Sublimated Messages",
                      "Integrating Curves",
                      "Integrating Illumination Form Factors",
                      "Integrating Population Graphs",
                      "Iterating Cellular Automata",
                      "Lecturing Errant Subsystems",
                      "Mixing Genetic Pool",
                      "Modeling Object Components",
                      "Mopping Occupant Leaks",
                      "Normalizing Power",
                      "Obfuscating Quigley Matrix",
                      "Overconstraining Dirty Industry Calculations",
                      "Partitioning City Grid Singularities",
                      "Perturbing Matrices",
                      "Pixalating Nude Patch",
                      "Polishing Water Highlights",
                      "Populating Lot Templates",
                      "Preparing Sprites for Random Walks",
                      "Prioritizing Landmarks",
                      "Projecting Law Enforcement Pastry Intake",
                      "Realigning Alternate Time Frames",
                      "Reconfiguring User Mental Processes",
                      "Relaxing Splines",
                      "Removing Road Network Speed Bumps",
                      "Removing Texture Gradients",
                      "Removing Vehicle Avoidance Behavior",
                      "Resolving GUID Conflict",
                      "Reticulating Splines",
                      "Retracting Phong Shader",
                      "Retrieving from Back Store",
                      "Reverse Engineering Image Consultant",
                      "Routing Neural Network Infrastructure",
                      "Scattering Rhino Food Sources",
                      "Scrubbing Terrain",
                      "Searching for Llamas",
                      "Seeding Architecture Simulation Parameters",
                      "Sequencing Particles",
                      "Setting Advisor Moods",
                      "Setting Inner Deity Indicators",
                      "Setting Universal Physical Constants",
                      "Sonically Enhancing Occupant-Free Timber",
                      "Speculating Stock Market Indices",
                      "Splatting Transforms",
                      "Stratifying Ground Layers",
                      "Sub-Sampling Water Data",
                      "Synthesizing Gravity",
                      "Synthesizing Wavelets",
                      "Time-Compressing Simulator Clock",
                      "Unable to Reveal Current Activity",
                      "Weathering Buildings",
                      "Zeroing Crime Network",
                      ]
          var lines_count = text.length - 1;
          var change_text = setInterval(changeFlavourText, 4000);
          flavour_text.innerHTML = text[Math.floor(Math.random() * lines_count)];
          function changeFlavourText() {
            flavour_text.innerHTML = text[Math.floor(Math.random() * lines_count)];

            /* uncomment for boring messages
            text_counter += 1;
            if (text_counter === text.length) {
              clearInterval(change_text);
            }
            */
          };
        };

        recorder.on("uploading", function () {
          // hides ziggeo recorder and displays custom messages
          console.log('uploading');
          record_btn.hidden = true;
          upload_btn.hidden = true;
          ziggeo_div.hidden = true;
          video_messages.innerHTML = "Uploading...";
          messages_div.hidden = false;
          flavour_text.hidden = false;
          showFlavourText();
        });

        recorder.on("upload_progress", function ( uploaded, total ) {
          //displays upload %
            if (upload_done == false) {
              video_messages.innerHTML = "Uploading " + Math.round(((uploaded/total) * 100)) + "%";
            }

            if (uploaded === total && upload_done != true) {
              upload_done = true;
            }
        });

        recorder.on("uploaded", function () {
          // completed upload
          video_messages.innerHTML = "Upload Successful. Verifying..."
        });

        recorder.on("verified", function () {
          // video verfified to allow processing
          console.log('verified');
          // video_messages.innerHTML = "Video Processing..."
          video_messages.innerHTML = "Video verified."
          function showZiggeo() {
            messages_div.hidden = true;
            ziggeo_div.hidden = false;
            document.getElementById('box-user-share').hidden = false;
          };
          //displays ziggeo after 3 seconds after processing
          setTimeout(showZiggeo,3000);
        });


        recorder.on("processing", function ( percentage ) {
          console.log(percentage);
        });

        recorder.on("processed", function () {
          // displays processing completed
          console.log('processed');
          video_messages.innerHTML = "Video Processed."
          function showZiggeo() {
            // video_messages.hidden = true;
            // ziggeo_div.hidden = false;
          };
          //displays ziggeo after 3 seconds after processing
          // setTimeout(showZiggeo,3000);
        });

        recorder.on("playing", function () {
          // displays share and save button after playing video
        });
      });
    </script>
</head>
<body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
      <div class="fixed-navbar">
        <div class="container">
          <div class="text-center">
            <div class="box box-full-height" id="box-upload-record" hidden="true">
            <div class="flex-center">
              <div id="ziggeo-container">
                  <ziggeorecorder
                  id='ziggeo'
                  ziggeo-tags='<%= current_user.id %>'
                  ziggeo-theme='elevate'
                  ziggeo-responsive=true
                  ziggeo-timelimit=45
                  >
                  </ziggeorecorder>
              </div>
            </div>
            <div id="box-user-share" hidden=true>
            <%= button_tag "Share", class: 'btn btn-primary', id: 'btn-user-save' %>
            </div>
            </div>
          </div>

          <div class="box box-full-height" id="messages-div" hidden="true">
            <div class="flex-centered">
              <h3 class="text-center" id="video-messages" style="font-weight: lighter; padding-bottom: 60px;"></h3>
              <div class="loader"></div>
              <!-- don't look here please :( -->
              <h4 class="text-center" id="flavour-text" style="font-weight: normal; padding-top: 60px;"><!-- Once your video is uploaded and ready for viewing you can.. -->
              </h4>
            </div>
          </div>
          <div class="upload-record-div text-center">
            <button class="btn-upload-record" id="btn-record">
              <i id="btn-icon-camera" class="fa fa-camera" aria-hidden="true"></i>
              <h2>Record yourself</h2>
              <h3>Create a video</h3>
            </button>
            <button class="btn-upload-record" id="btn-upload">
              <i id="btn-icon-cloud" class="fa fa-cloud-upload" aria-hidden="true"></i>
              <h2>Upload File</h2>
              <h3>Choose a file</h3>
            </button>
          </div>
          <div class="text-center" id="box-newvideo-text">
            <p>
             Start with a quick <strong>intro</strong>, talk about your <strong>objective</strong> and why you’re <strong>interested</strong> in the company and role.<br>
             <br>
             Frame the video, make sure your upper body is the focus of the video and..  <strong>Relax, Smile, Record!</strong>
            </p>
          </div>
      </div>
    </div>
       <%= render 'shared/footer' %>
      <%= javascript_include_tag 'application' %>
</body>
</html>
